<app-header></app-header>
  <div class="container">
    <header class="banner">
      <div class="banner-content">
        <h1>Carrito de</h1>
        <h1>compras</h1>
      </div>
      <img src="assets/vender.png" alt="Model with makeup" class="banner-image">
    </header>

    <section class="featured-items">
      <div class="item">
        <img src="assets/maquillaje1.png" alt="Base café claro">
        <div class="details">
          <p>Base café claro Base café claro Base café claro Base café claro Base café claro</p>
          <p class="price">Precio individual: $299 MXN</p>
        </div>
        <div class="quantity">
          <input type="number" value="2" min="1">
        </div>
        <button class="eliminar-btn">Eliminar</button>
      </div>

      <div class="item">
        <img src="assets/labial.png" alt="Lápiz Labial">
        <div class="details">
          <p>Base café claro Base café claro Base café claro Base café claro Base café claro Base café claro</p>
          <p class="price">Precio individual: $599 MXN</p>
        </div>
        <div class="quantity">
          <input type="number" value="2" min="1">
        </div>
        <button class="eliminar-btn">Eliminar</button>
      </div>

      <div class="item">
        <img src="assets/maquillaje1.png" alt="Base café claro">
        <div class="details">
          <p>Base café claro Base café claro Base café claro Base café claro Base café claro</p>
          <p class="price">Precio individual: $299 MXN</p>
        </div>
        <div class="quantity">
          <input type="number" value="2" min="1">
        </div>
        <button class="eliminar-btn">Eliminar</button>
      </div>
      
    </section>

    <p-divider class="divider"/>

    <section class="summary">
      <div class="summary-content">
        <p>Subtotal: $1099</p>
        <p class="iva-line">IVA: 16%</p>
        <p>Total: $1199</p>
      </div>
      <button class="pay-btn">Ir a pagar</button>
    </section>
  </div>
  <app-footer></app-footer>