<div class="register-container" [style.backgroundImage]="'url(' + backgroundImage + ')'">
  <div class="register-card">
    <div class="logo">
      <img src="assets/logo.png" alt="Makeup Beauty Logo">
    </div>
    <h2 class="welcome-text">Registro</h2>
    <form>
      <div class="input-field">
        <input pInputText type="text" placeholder="Nombre" />
      </div>  
      <div class="input-field">
        <input pInputText type="email" placeholder="Correo electrónico" />
      </div>
      <div class="input-field">
        <input pInputText type="password" placeholder="Contraseña" />
      </div>
      <div class="input-field">
        <input pInputText type="password" placeholder="Confirmar contraseña" />
      </div>
      <p-button label="Registrarse" styleClass="register-btn" (onClick)="onRegister()"></p-button>
      <p class="register-link">¿Ya tienes cuenta? <a href="/auth/login">Inicia sesión aquí</a></p>
    </form>
  </div>
</div>