<div class="footer-desktop">
  <p>© 2025 Makeup Beauty. Sitio Web creado como proyecto escolar.</p>
</div>

<div class="fondo-blanco"></div>
<footer class="footer-mobile">
  <div class="footer-nav">
    <button class="nav-icon" (click)="goToHome()">
      <img src="assets/home.png" alt="Home">
    </button>
    <button class="nav-icon" (click)="goToProfile()">
      <img src="assets/user.png" alt="User">
    </button>
    <div class="circle">
        <button class="nav-icon active" (click)="goToCart()">
        <img src="assets/cart.png" alt="Cart">
        </button>
    </div>
    <button class="nav-icon" (click)="goToSearch()">
      <img src="assets/search.png" alt="Search">
    </button>
    <button class="nav-icon" (click)="logout()">
      <img src="assets/logout.png" alt="Logout">
    </button>
  </div>
</footer>